/*  Général  */

body{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 45px 0 80px 0;
}

section .heading{
    text-align: center;
    padding-bottom: 40px;
}

.red-divider{
    width: 100px;
    height: 2px;
    background: #d82c2e;
    margin: 0 auto;
}


/*  About  */

#about{
    padding-top: 100px;
    background: #d82c2e;
}

.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}

#about .heading h1{
    color: #fff;
    text-transform: uppercase;
}

#about .heading h3{
    color: #000;
}

.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.9s ease-in 0s;/*permet de donner une animation au bouton "all 0.9s" sur tous les changement pendant 0.9s et "ease-in" c'est la façon de faire l'animation*/   
}

.button1:hover{
    background: white;
    color: #d82c2e;
    text-decoration: none;
}

/*  skills  */

#skills{
    background: #fff;
}

#skills .heading h2{
    color: #d82c2e;
    text-transform: uppercase;
}

#skills .progress{
    height: 100%;
    margin: 30px 20px;
    backface-visibility: #ddd;
}

#skylls .progress-bar{
    background: #d82c2e;
}